# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Save information to csv and Excel files

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [22]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv')
#df = pd.read_excel('Data/Zipcode_Demos.xlsx')
df.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Print the last 5 rows of df
df.tail()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

In [ ]:
# What is going on with this data set? Anything unusual?

In [33]:
# Your code here - Clean up the data set
df = pd.read_csv('Data/Zipcode_Demos.csv', header=47)
df

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,48,10001,44,22,0.50,22,0.50,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
1,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
2,50,10003,1,1,1.00,0,0.00,0,0,1,...,1,100,0,0.00,1,1.00,0,0,1,100
3,51,10004,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,52,10005,2,2,1.00,0,0.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100
5,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0.00,6,1.00,0,0,6,100
6,54,10007,1,0,0.00,1,1.00,0,0,1,...,1,100,1,1.00,0,0.00,0,0,1,100
7,55,10009,2,0,0.00,2,1.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100
8,56,10010,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
9,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0.00,3,1.00,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [198]:
#Hint: here's a useful programming pattern to use.
df = pd.read_csv('Data/Yelp_Reviews_corrupt.csv', delimiter=',', encoding="latin-1", usecols=[1,2,3,4,5,6,7,8,9])

print(df[:20])

#try:  
#    df.loc[df["NaN"]]
#except Exception as e:

               business_id cool        date funny               review_id  \
0   pomGBqfbxcqPv14c3XH-ZQ    0  2012-11-13     0  dDl8zu1vWPdKGihJrwQbpw
1   jtQARsP6P-LbkyjbO1qNGg    1  2014-10-23     1  LZp4UX5zK3e-c5ZGSeo3kA
2   Ums3gaP2qM3W1XcA5r6SsQ    0  2014-09-05     0  jsDu6QEJHbwP2Blom1PLCA
3   vgfcTvK81oD4r50NMjU2Ag    0  2011-02-25     0  pfavA0hr3nyqO61oupj-lA
4   yFumR3CWzpfvTH2FCthvVw    0  2016-06-15     0  STiFMww2z31siPY7BWNC2g
5   UBv8heCQR0RPnUQG0zkXIQ    0  2016-09-23     0  HkYqGb0Gplmmk-xlHTRBoA
6   hdgYnadxg0GANhWOJabr2g    0  2014-08-23     0  RgqWdZA4xR023iP3T6jVfA
7   gZGsReG0VeX4uKViHTB9EQ    0  2017-08-16     0  51RHs_V_fjuistnuKxNpEg
8   f-v1fvtnbdw_QQRsCnwH-g    0  2017-11-18     0  alI_kRKyEHfdHibYGgtJbw
9   yz66FIUPDKGhILDWzRLeKg    0  2017-11-18     0  85DRIjwPJOTb4q0qOlBstw
10  6qDRqHWqf0EeHupSUEBfKg    0  2015-12-10     0  GbiLIKmQPVCBtdNkTVdVSA
11  7AlULGZI1pHt0imODsqdkg    0  2012-02-12     0  UaHgsL0xS4UnJ_iKqeOk_w
12  th4pZ5LkoIIkb1Vmu_m2DA    0  2012-02-12     0  c4zzAD1S6721Fh-acCBy-g
13  nsSfCKW9KDB4COj9bzXApw    0  2012-02-12     0  TTBwocu2mvqJFJrwmJN0Sw
14  cP8ErpZfRzdVR5Fvks-pnQ    0  2012-02-12     0  -CresnnXQSHrQ85Ogm-Pqw
15  Edr6SafmQrZa6CcFuItoqg    0  2014-06-03     0  U04YgYr4PiGUxB46J4xapg
16  SpJYus_184M2TdT7t52rIA    0  2016-11-18     0  s9cpVj40VR_yl0lXbZQe6w
17  qdC2h3MqCNussc5lhzL7gg    0  2015-11-05     0  AJ0IglpYAp2D0daOlVGIdg
18  XgRDG9E_WLEbl8S-QUqQkQ    0  2015-11-05     0  5D_MsAJHrMa8QKkpE3g1Sg
19  awgoBwuhzlLGKEIverTGjQ    0  2017-01-21     0  5bWN_IN8MQGjJ6_ZIXffDw

   stars                                               text useful  \
0      5  I love this place! My fiance And I go here atl...      0
1      1  Terrible. Dry corn bread. Rib tips were all fa...      3
2      5  Delicious healthy food. The steak is amazing. ...      0
3      1  This place sucks. The customer service is horr...      2
4      5  I have been an Emerald Club member for a numbe...      0
5      1  The score should be negative. Its HORRIBLE. Th...      0
6      5  I went there twice and I am pretty happy with ...      0
7      5  Finally! After trying many Mexican restaurants...      0
8      1  I have to write a review on the Fractured Prun...      0
9      1  I wish i could tell you all about the food but...      1
10     5  Wonderful! One of my favorite places. BBQ is e...      0
11     5  The price is about the same as Quizinos. The s...      0
12     4  The food was ok. You get a lot of food for the...      0
13     5  The staff were friendly and helpful. The food ...      1
14     5  The staff were very helpful. We painted potter...      0
15     2  Limited vegetarian options. Ordered Greek sala...      0
16     5  I trust my vehicles here. Comparable prices. M...      0
17     1  This place doesn't even deserve 1 star. Horrib...     18
18     5  The butter burger was cooked perfectly and jui...      0
19     5  Best location ever! I love love love the manag...      0

                   user_id
0   msQe1u7Z_XuqjGoqhB0J5g
1   msQe1u7Z_XuqjGoqhB0J5g
2   msQe1u7Z_XuqjGoqhB0J5g
3   msQe1u7Z_XuqjGoqhB0J5g
4   TlvV-xJhmh7LCwJYXkV-cg
5   NhOc64RsrTT1Dls50yYW8g
6   NhOc64RsrTT1Dls50yYW8g
7   5ngpW5tf3ep680eG1HxHzA
8   Fc_nb6N6Sdurqb-rwsY1Bw
9   Fc_nb6N6Sdurqb-rwsY1Bw
10  G22ITfVETYHtIhnn5lLRrQ
11  FjH3TH8OvHGLNEbzdEYlNg
12  FjH3TH8OvHGLNEbzdEYlNg
13  FjH3TH8OvHGLNEbzdEYlNg
14  FjH3TH8OvHGLNEbzdEYlNg
15  B7Fh30KQT1xPSGt_pIhRRA
16  zx_Op2OAOM_fRic9tU-jqA
17  Ka7TIp74VHSa90rfdg4_2g
18  Ka7TIp74VHSa90rfdg4_2g
19  yyPHK6khPa4-ErV9U32x3A

## Summary

Congratulations, you now practiced your pandas-importing skills!